<div class="container-fluid mb-5">
  <h1>Bootcamp Enrollment Form</h1>
  <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>

    <div class="form-group">
      <label for="">Name</label>
      <input type="text" required #name="ngModel"
       [class.is-invalid]="name.invalid && name.touched"
      class="form-control" name="userName" [(ngModel)]="userModel.name">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div>

    <div class="form-group">
      <label for="">Email</label>
      <input type="email" class="form-control" name="Email"  [(ngModel)]="userModel.email">
    </div>

    <div class="form-group">
      <label for="">Phone</label>
      <input type="tel" required #phone="ngModel" pattern="^\d{10}$"
      [class.is-invalid]="phone.invalid && phone.touched" class="form-control" name="phone"
       [(ngModel)]="userModel.phone">
        <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is requird and  must be 10 digit</small> -->
<div *ngIf="phone.errors && (phone.invalid ||phone.untouched)" class="invalid-feedback">
  <small class="text-danger" *ngIf="phone.errors.required">Phone number is requird</small>
  <small class="text-danger" *ngIf="phone.errors.pattern">Phone number is must be 10 digit</small>
</div>
    </div>
<div class="form-group">
  <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" required #topic="ngModel" [class.is-invalid]="topic.invalid && topic.touched" name="" id="" class="custom-select" name="topic"  [(ngModel)]="userModel.topic">
    <option value="default">I am Intrested in</option>
    <option *ngFor="let topic of topics">{{ topic }}</option>
  </select>
  <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please choose a topic </small>
</div>

<div class="mb-3">
  <label for="">Time Preference</label>
  <div class="form-check">
  <input type="radio" class="form-check-input" name="timePerference" value="morning"  [(ngModel)]="userModel.timePreference">
  <label class="form-check-label">Morning (9Am-12Pm)</label>
  </div>

  <div class="form-check">
  <input type="radio" class="form-check-input" name="timePerference" value="evening"  [(ngModel)]="userModel.timePreference">
  <label class="form-check-label">Evening (5pm-8Pm)</label>
  </div>
</div>

<div class="form-check mb-3">
  <input class="form-check-input" name="subscribe" type="checkbox"  [(ngModel)]="userModel.subscribe">
  <label class="form-check-lable">
    Send me promotional offers
  </label>
</div>
<button [disabled]="userForm.form.invalid || topicHasError" class="btn btn-primary">Submit form</button>

  </form>
</div>
<!-- class="invalid-feedback" style="font-size: 80%;" -->
